/** @format */

.cv-about-global-background {
	background-image: url(../../assets/images/bg/about-bg.jpeg);
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
	min-height: 100vh;
	margin-top: -50px;
}

.cv-about-section-1-main-container {
	padding-top: 50px;
}

.cv-about-section-1-inner-container {
	background-color: rgba(5, 131, 66, 0.73);
	padding-top: 100px;
	padding-left: 100px;
	padding-bottom: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
	position: relative;
}

.cv-about-section-1-list-indicator {
	border: 1px solid #ffffff;
	color: #ffffff;
	width: 88px;
	height: 88px;
	display: block;
	border-radius: 100%;
	background-color: rgba(221, 221, 221, 0.5);
	text-align: center;
	font-size: 40px;
	padding: 12px;
	margin-top: 165px;
	margin-right: 40px;
}

.cv-about-section-1-list-line {
	border-left: 1px solid #ffffff;
	text-align: center;
	margin: auto;
	height: 400px;
	position: absolute;
	left: 145px;
}

.cv-about-section-1-main-title {
	color: #ffffff;
	font-size: 29px;
	font-weight: 700;
	width: 100%;
	max-width: 450px;
	margin-bottom: 50px;
	font-family: AvenirBlack, sans-serif !important;
	line-height: 35px;
}

.cv-about-section-1-main-subtitle {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	width: 100%;
	margin-bottom: 40px;
	font-family: AvenirBlack, sans-serif !important;
}

.cv-about-section-1-main-description {
	color: #fff;
	font-size: 19px;
	font-weight: 300;
	width: 100%;
	max-width: 500px;
	line-height: 30px;
}

.cv-about-section-2-main-container {
	padding-top: 0;
}

.cv-about-section-2-inner-container {
	background-color: rgba(17, 28, 74, 0.72);
	padding-top: 90px;
	padding-bottom: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	overflow: hidden;
	position: relative;
	padding-right: 80px;
	padding-left: 10px;
}

.cv-about-section-2-inner-indicator-container {
	position: relative;
}

.cv-about-section-2-list-indicator {
	border: 1px solid #ffffff;
	color: #ffffff;
	width: 88px;
	height: 88px;
	display: block;
	border-radius: 100%;
	background-color: rgba(221, 221, 221, 0.5);
	text-align: center;
	font-size: 40px;
	padding: 12px;
	margin-top: 0;
	margin-right: 40px;
}

.cv-about-section-2-list-line {
	border-left: 1px solid #ffffff;
	text-align: center;
	margin: auto;
	height: 400px;
	position: absolute;
	left: 43px;
}

.cv-about-section-2-main-subtitle {
	margin-top: 25px;
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	width: 100%;
	font-family: AvenirBlack, sans-serif !important;
	margin-bottom: 35px;
}

.cv-about-section-2-main-description {
	color: #fff;
	font-size: 21px;
	font-weight: 300;
	width: 100%;
	max-width: 500px;
	font-style: italic;
	font-family: Didot, sans-serif !important;
	letter-spacing: 0.5px;
	line-height: 31px;
	margin-bottom: 28px;
}

.cv-about-section-2-main-description-footer {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	width: 100%;
	max-width: 500px;
	font-style: italic;
	text-align: right;
	font-family: Didot, sans-serif !important;
	padding: 0 40px;
}

.cv-about-section-2-parallax-container {
	height: 100%;
	background-image: url(../../assets/images/bg/AdobeStock_160950561.jpeg);
	background-size: cover;
	background-position: 70% 0;
}

.cv-about-section-2-parallax-container .react-parallax {
	height: 100%;
}
