/** @format */

.cw-wizard-sidebar-title-global-container {
	display: flex;
	justify-content: flex-end;
}

.cw-wizard-sidebar-logo-container {
	width: 100%;
	max-width: 220px;
	margin-bottom: 10px;
}

.cw-wizard-sidebar-logo-img {
	width: 100%;
}

.cw-wizard-sidebar-title-inner-container {
	width: 100%;
	max-width: 355px;
	padding: 50px 50px 20px 20px;
}

.cw-wizard-sidebar-title {
	font-size: 40px;
	color: white;
	font-weight: 600;
	line-height: 50px;
	text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
	font-family: AvenirHeavy, sans-serif !important;
}
