/** @format */

.cw-wizard-sidebar-title-global-container {
	display: flex;
	justify-content: flex-end;
}

.cw-wizard-sidebar-logo-container {
	width: 100%;
	max-width: 220px;
	margin-bottom: 4px;
}

.cw-wizard-sidebar-logo-img {
	width: 100%;
	filter: drop-shadow(2px 1px 3px #262626);
}

.cw-wizard-sidebar-title-inner-container {
	width: 100%;
	max-width: 355px;
	padding: 20px;
}

.cw-wizard-sidebar-title {
	font-size: 36px;
	color: white;
	line-height: 40px;
	font-weight: 600;
	text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
	font-family: AvenirHeavy, sans-serif !important;
}
