/** @format */

.cw-wizard-ststwelve-advisor-global-container {
	background-image: url(../../../../../assets/images/bg/wizard-section-three-bg.jpeg);
	width: 100%;
	min-height: calc(100vh);
	background-position: 0 0;
	background-size: cover;
	overflow: hidden;
}

.cw-wizard-ststwelve-main-container {
	min-height: 100vh;
}

.cw-wizard-ststwelve-form-global-container {
	background-color: rgba(17, 28, 74, 0.72);
	height: 100%;
	padding: 60px 60px 60px 80px;
}

.cw-wizard-ststwelve-form-main-title-container {
	width: 100%;
	max-width: 500px;
}

.cw-wizard-ststwelve-form-container {
	width: 100%;
	max-width: 460px;
}

.cw-wizard-ststwelve-form-title-container {
	width: 100%;
	max-width: 400px;
	padding-bottom: 25px;
	padding-top: 15px;
}

.cw-wizard-ststwelve-form-title {
	color: white;
	margin-bottom: 0;
	font-size: 22px;
}

.cw-wizard-ststwelve-form-rate {
	color: white;
	margin-bottom: 0;
	width: 40%;
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
}

.cw-wizard-ststwelve-form-option-container .ant-checkbox-wrapper:hover .ant-checkbox-inner {
	background-color: transparent !important;
}

.cw-wizard-ststwelve-form-option-container .ant-checkbox-wrapper span {
	font-size: 18px;
	color: white;
	font-weight: 100;
	line-height: 20px;
}

.cw-wizard-ststwelve-form-option-container .ant-checkbox-group .ant-checkbox-inner {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}

.cw-wizard-ststwelve-form-option-container .ant-checkbox-group .ant-checkbox-wrapper {
	padding-bottom: 15px;
}

.cw-wizard-ststwelve-form-option-container .ant-checkbox-group .ant-checkbox-wrapper:hover {
	background-color: transparent;
}

.cw-wizard-ststwelve-form-option-container .ant-checkbox-wrapper:hover .ant-checkbox-inner {
	border: 1px solid #d9d9d9;
}

.cw-wizard-ststwelve-form-option-container .ant-checkbox-checked .ant-checkbox-inner {
	border-color: #d9d9d9;
}

.cw-wizard-ststwelve-form-option-container .ant-checkbox-checked .ant-checkbox-inner::after {
	top: 45%;
	left: 30.5%;
}

.cw-wizard-ststwelve-form-buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 150px;
	padding: 30px 0;
}

.cw-wizard-ststwelve-value-container {
	width: 100%;
	max-width: 160px;
	text-align: center;
	padding-top: 25px;
}

.cw-wizard-ststwelve-value-rate-title {
	font-size: 15px;
	color: #ffffff;
	font-weight: 600;
}

.cw-wizard-ststwelve-value-option-container .ant-rate {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.cw-wizard-ststwelve-value-option-container .ant-rate-star {
	font-size: 24px;
	margin-right: 0px;
}

.cw-wizard-ststwelve-value-option-container .ant-rate-star-zero .ant-rate-star-second {
	color: #ffffff;
}

.cw-wizard-ststwelve-value-option-container .ant-rate-star-full .ant-rate-star-second {
	color: #fcaf17 !important;
}
