/** @format */

.cw-profile-global-container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: 15px;
}

.cw-profile-info-user-container {
	min-height: 200px;
	display: flex;
	align-items: center;
}

.cw-profile-info-user-inner-container {
	width: 100%;
}

.cw-profile-info-container {
	display: flex;
	align-items: center;
}

.cw-profile-info-image {
	width: 100%;
	max-width: 120px;
	max-height: 120px;
	min-height: 120px;
	max-height: 120px;
	border: 3px solid #fff;
	border-radius: 100%;
}

.cw-profile-info-user-title-main-container {
	padding: 0 20px;
}

.cw-profile-info-user-title {
	color: #fff;
	margin-bottom: 4px;
	font-weight: 600;
	font-size: 27px;
}

.cw-profile-info-user-subtitle-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.cw-profile-info-user-icon {
	color: #fff !important;
	font-size: 27px;
	margin-right: 5px;
}

.cw-profile-info-user-subtitle {
	color: #fff;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 14px;
}

.cw-profile-info-details-container {
	height: 100%;
}

.cw-profile-info-details-title {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 27px;
}

.cw-profile-info-details-subtitle {
	font-size: 37px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 0;
}

.cw-profile-info-details-description {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 0;
}

.cw-profile-info-user-icon-title-container {
	display: flex;
	justify-content: flex-start;
	margin-top: 5px;
	align-items: center;
}

.cw-profile-info-action-title {
	margin-bottom: 0;
	color: #fff;
	font-size: 17px;
	text-decoration: underline;
}

.cw-profile-info-user-second-icon {
	color: #fff !important;
	font-size: 38px;
	margin-right: 5px;
}
