/** @format */

.cw-wizard-stseight-global-container {
	background-image: url(../../../../../assets/images/bg/wizard-section-two-bg.jpeg);
	width: 100%;
	min-height: calc(100vh);
	background-position-y: center;
	background-size: cover;
	overflow: hidden;
}
.cw-wizard-stseight-main-container {
	min-height: calc(100vh);
}
.cw-wizard-stseight-form-global-container {
	background-color: rgba(17, 28, 74, 0.72);
	height: 100%;
	padding: 60px 60px 60px 80px;
}
.cw-wizard-stseight-form-main-title-container {
	width: 100%;
	max-width: 500px;
}
.cw-wizard-stseight-form-container {
	width: 100%;
	max-width: 500px;
}
.cw-wizard-stseight-form-title-container {
	width: 100%;
	max-width: 400px;
	padding-bottom: 20px;
}
.cw-wizard-stseight-form-title {
	color: white;
	margin-bottom: 0;
	padding-top: 10px;
	font-size: 22px;
}
.cw-wizard-stseight-form-option-container {
	width: 100%;
	padding: 10px 0 0;
}
.cw-wizard-stseight-form-option-container .ant-input {
	background-color: rgba(255, 255, 255, 0.2) !important;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 12px;
	color: white;
	font-size: 17px;
	padding: 12px;
}
.cw-wizard-stseight-form-option-container .ant-input:hover {
	background-color: transparent !important ;
	border-right-width: 1px !important;
	border-color: rgba(255, 255, 255, 1);
}
.cw-wizard-stseight-form-option-container .ant-input:focus {
	background-color: rgba(26, 45, 243, 0.17) !important;
	border-right-width: 1px !important;
	border-color: rgba(255, 255, 255, 1);
}
.cw-wizard-stseight-form-option-container .ant-input:focused {
	background-color: rgba(26, 45, 243, 0.17) !important;
	border-right-width: 1px !important;
	border-color: rgba(255, 255, 255, 1);
}
.cw-wizard-stseight-form-option-container .ant-input:active {
	background-color: rgba(26, 45, 243, 0.17) !important;
	border-right-width: 1px !important;
	border-color: rgba(255, 255, 255, 1);
}
.cw-wizard-stseight-form-buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 150px;
	padding: 30px 0;
}

.cw-wizard-stseight-value-container {
	width: 100%;
	max-width: 160px;
	text-align: center;
	padding-top: 30px;
}

.cw-wizard-stseight-value-rate-title {
	font-size: 15px;
	color: #ffffff;
	font-weight: 600;
}

.cw-wizard-stseight-value-option-container .ant-rate {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.cw-wizard-stseight-value-option-container .ant-rate-star {
	font-size: 24px;
	margin-right: 0px;
}

.cw-wizard-stseight-value-option-container .ant-rate-star-zero .ant-rate-star-second {
	color: #9deaea;
}

.cw-wizard-stseight-value-option-container .ant-rate-star-full .ant-rate-star-second {
	color: #fcaf17 !important;
}
