/** @format */

.cw-profile-action-items-global-container {
	width: 100%;
	max-width: 480px;
	margin: auto;
	padding: 80px 15px;
}

.cw-profile-action-items-main-title-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 30px;
}

.cw-profile-action-items-icon {
	color: #fff !important;
	font-size: 38px;
	margin-right: 5px;
}

.cw-profile-action-items-main-title {
	font-size: 28px;
	color: #fff;
	font-weight: 600;
	padding: 0 10px;
}

.cw-profile-action-items-select-list {
	border: 1px solid #fff;
	border-radius: 50px;
	background: rgba(34, 57, 131, 0.6);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 9px 10px 10px 15px;
	margin-bottom: 30px;
}

.cw-profile-action-items-select-icon {
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.2);
}

.cw-profile-action-items-select-title {
	font-size: 20px;
	color: #fff;
	font-weight: 400px;
	margin-left: 14px;
	margin-bottom: 0;
}
