/** @format */

.cw-advisors-review-global-container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: 15px;
}

.cw-advisors-map-container {
	border-left: 1px solid #ffff;
}

.cw-advisors-profile-text-container {
	text-align: center;
	position: relative;
	padding-top: 15px;
	padding-bottom: 20px;
}
