/** @format */

.cw-wizard-indicators-container {
	border: 1px solid #ffffff;
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.cw-wizard-indicators-filled {
	background-color: rgba(252, 175, 23, 1);
}
