.cw-main-title-title-one 
  font-size: 18px
  color: white
  font-weight: 100
  margin-bottom: 0
  padding-bottom: 5px

.cw-main-title-title-two
  font-size: 26px 
  font-weight: 600
  color: white
  margin-bottom: 0
  padding-bottom: 20px
  font-family: AvenirHeavy, sans-serif !important

.cw-main-title-title-three 
  font-size: 22px
  color: white
  font-weight: 100
  margin-bottom: 0
  margin-right: 20px

.cw-main-title-indicator-main-container
  display: flex
  justify-content: flex-start
  align-items: center

.cw-main-title-section-spacer 
  margin: 15px 0