.cw-wizard-button 
  border: 0 !important
  border-color: unset !important
  box-shadow: none !important
  height: 30px !important
  background: none !important
  color: white !important
  padding: 0 !important
  font-size: 18px !important
  display: flex !important
  align-items: center !important
  font-family: AvenirHeavy, sans-serif !important

.cw-wizard-button:hover,
.cw-wizard-button:active,
.cw-wizard-button:focus 
  color: white !important

.cw-wizard-button-icon 
  width: 100%
  max-width: 70px
  padding-bottom: 5px
