/** @format */

.cw-profile-calendar-global-container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: 80px 15px;
}

.cw-profile-calendar-main-title {
	font-size: 28px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 0 10px;
}
