/** @format */

.cw-wizard-stssix-global-container {
	background-image: url(../../../../../assets/images/bg/wizard-section-two-bg.jpeg);
	width: 100%;
	min-height: calc(100vh);
	background-position: 0 0;
	background-size: cover;
	overflow: hidden;
}
