/** @format */

.cw-wizard-ststen-global-container {
	background-image: url(../../../../../assets/images/bg/wizard-section-advisor.jpeg);
	width: 100%;
	min-height: calc(100vh);
	background-position: -230px 0;
	background-size: cover;
	overflow: hidden;
}
/* 
.cw-wizard-ststen-main-container {
	min-height: calc(100vh);
}
.cw-wizard-ststen-form-global-container {
	background-color: rgba(17, 28, 74, 0.72);
	height: 100%;
	padding: 60px 100px;
}
.cw-wizard-ststen-form-main-title-container {
	width: 100%;
	max-width: 500px;
}
.cw-wizard-ststen-form-container {
	width: 100%;
	max-width: 500px;
}
.cw-wizard-ststen-form-title-container {
	width: 100%;
	max-width: 400px;
	padding-bottom: 20px;
}
.cw-wizard-ststen-form-title {
	color: white;
	margin-bottom: 0;
	padding-top: 10px;
}
.cw-wizard-ststen-form-option-container
	.ant-checkbox-wrapper:hover
	.ant-checkbox-inner {
	background-color: transparent !important;
}
.cw-wizard-ststen-form-option-container .ant-checkbox-wrapper span {
	font-size: 17px;
	color: white;
	font-weight: 100;
}
.cw-wizard-ststen-form-option-container
	.ant-checkbox-group
	.ant-checkbox-inner {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}
.cw-wizard-ststen-form-option-container
	.ant-checkbox-group
	.ant-checkbox-wrapper {
	padding-bottom: 10px;
}
.cw-wizard-ststen-form-option-container
	.ant-checkbox-group
	.ant-checkbox-wrapper:hover {
	background-color: transparent;
}
.cw-wizard-ststen-form-option-container
	.ant-checkbox-wrapper:hover
	.ant-checkbox-inner {
	border: 1px solid #d9d9d9;
}
.cw-wizard-ststen-form-option-container
	.ant-checkbox-checked
	.ant-checkbox-inner {
	border-color: #d9d9d9;
}
.cw-wizard-ststen-form-option-container
	.ant-checkbox-checked
	.ant-checkbox-inner::after {
	top: 45%;
	left: 30.5%;
}
.cw-wizard-ststen-form-buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 150px;
	padding: 30px 0;
}
.cw-wizard-ststen-form-rate {
	color: white;
	margin-bottom: 0;
	width: 40%;
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
} */
