/** @format */

.cw-wizard-stsfive-global-container {
	background-image: url(../../../../../assets/images/bg/wizard-section-two-bg.png);
	width: 100%;
	min-height: calc(100vh);
	background-position-y: center;
	background-size: cover;
	overflow: hidden;
}

.cw-wizard-stsfive-main-container {
	min-height: calc(100vh);
}

.cw-wizard-stsfive-form-global-container {
	background-color: rgba(17, 28, 74, 0.72);
	height: 100%;
	padding: 60px 100px;
}
.cw-wizard-stsfive-form-main-title-container {
	width: 100%;
	max-width: 500px;
}
.cw-wizard-stsfive-form-container {
	width: 100%;
	max-width: 500px;
}
.cw-wizard-stsfive-form-title-container {
	width: 100%;
	max-width: 450px;
	padding-bottom: 30px;
}

.cw-wizard-stsfive-form-title {
	color: white;
	margin-bottom: 0;
	padding-top: 10px;
	font-size: 22px;
}

.cw-wizard-stsfive-form-rate {
	color: white;
	margin-bottom: 0;
	width: 40%;
	font-size: 15px;
	font-weight: bold;
	padding-top: 40px;
	text-align: center;
}

.cw-wizard-stsfive-form-option-container .ant-checkbox-wrapper:hover .ant-checkbox-inner {
	background-color: transparent !important;
}
.cw-wizard-stsfive-form-option-container .ant-checkbox-wrapper span {
	font-size: 18px;
	color: white;
	font-weight: 100;
}

.cw-wizard-stsfive-form-option-container .ant-checkbox-group .ant-checkbox-inner {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}

.cw-wizard-stsfive-form-option-container .ant-checkbox-group .ant-checkbox-wrapper {
	padding-bottom: 10px;
}
.cw-wizard-stsfive-form-option-container .ant-checkbox-group .ant-checkbox-wrapper:hover {
	background-color: transparent;
}
.cw-wizard-stsfive-form-option-container .ant-checkbox-wrapper:hover .ant-checkbox-inner {
	border: 1px solid #d9d9d9;
}

.cw-wizard-stsfive-form-option-container .ant-checkbox-checked .ant-checkbox-inner {
	border-color: #d9d9d9;
}

.cw-wizard-stsfive-form-option-container .ant-checkbox-checked .ant-checkbox-inner::after {
	top: 45%;
	left: 30.5%;
}
.cw-wizard-stsfive-form-buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 150px;
	padding: 30px 0;
}
