@import '~antd/dist/antd.css'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap')

@font-face 
	font-family: avenirBold
	src:url("./fonts/avenirltstd-heavy.otf")

@font-face 
	font-family: avenirLight
	src:url("./fonts/FontsFree-Net-Avenir-Light.ttf")

a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p,
span 
	font-family: avenirBold, sans-serif !important
	-webkit-font-smoothing: antialiased

::-webkit-scrollbar
	width: 6px
	opacity: 0.1

::-webkit-scrollbar-track
	box-shadow: inset 0 0 5px rgba(228, 228, 228, 1)
	border-radius: 8px
	opacity: 0.1

::-webkit-scrollbar-thumb
	background: rgba(34, 57, 131, 0.6)
	border-radius: 8px

::-webkit-scrollbar-thumb:hover
	background: rgba(34, 57, 131, 0.6)


